._2tm6{width:308px}
._4s4e{background:#8c72cb;border-radius:4px;bottom:4px;color:#fff;max-width:110px;overflow:hidden;padding:4px;position:absolute;right:4px;text-overflow:ellipsis;white-space:nowrap}._6jsd{bottom:8px}._4s4f{margin-right:2px;vertical-align:top}._4s4g{line-height:14px}

#bootloader_ac3Wz{height:42px;}.bootloader_ac3Wz{display:block!important;}